@model List<Team>
@{
    int count = 0;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div class="card-body">
    <h4 class="card-title">Recycle Bin/Deleted~Team/Table</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Fullname</th>
                    <th>Position</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team teamMember in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@teamMember.Id</td>
                        <td>
                            <div class="pic"><img style="width: 100px;height: 100px;" src="~/uploads/team/@teamMember.ImageName" class="img-fluid" alt=""></div>
                        </td>
                        <td>@teamMember.Fullname</td>
                        <td><label class="badge badge-info">@teamMember.Position.Name</label></td>
                        <td>
                            <a asp-action="Restore" asp-controller="deletedteam" asp-route-id="@teamMember.Id" class="btn btn-primary"><i class="mdi mdi-file-restore"></i>Restore</a>
                            <a asp-action="harddelete" asp-controller="deletedteam" asp-route-id="@teamMember.Id" class="btn btn-danger deleteBTNS"><i class="mdi mdi-delete-forever"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}