@model PaginatedList<Position>
@{
    int count = (Model.ActivePage - 1) * 3;
}
@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="card-body">
    <h4 class="card-title">Models/Position/Table</h4>
    <div class="table-responsive">
        <table class="table">
            <a asp-action="create" asp-controller="position" class="btn btn-outline-success"><i class="mdi mdi-plus"></i>Create</a>
            <thead>
                <tr>
                    <th>№</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Position position in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@position.Id</td>
                        <td><label class="badge badge-info">@position.Name</label></td>
                        <td>
                            <a asp-action="update" asp-controller="Position" asp-route-id="@position.Id" class="btn btn-outline-primary"><i class="mdi mdi-table-edit"></i>Update</a>
                            <a asp-action="softdelete" asp-controller="Position" asp-route-id="@position.Id" class="btn btn-outline-danger deleteBTNS"><i class="mdi mdi-delete"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@(Model.ActivePage-1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item  @(Model.ActivePage==i?"active":"")"><a class="page-link" asp-route-page="@i">@i</a></li>
            }
            @if (Model.NextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@(Model.ActivePage+1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.1/sweetalert2.min.js" integrity="sha512-vCI1Ba/Ob39YYPiWruLs4uHSA3QzxgHBcJNfFMRMJr832nT/2FBrwmMGQMwlD6Z/rAIIwZFX8vJJWDj7odXMaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}